@import "@/assets/styles/variables.scss";

.Table {
  table {
    width: 100%;
    table-layout: fixed;
    background: $neutral-700;
    border-radius: 0.8rem;
    box-shadow: $box-shadow-light;
    margin-bottom: 4rem;

    thead {
      text-align: left;

      tr {
        th {
          padding: 1.6rem 2rem;
          border-bottom: 1px solid $neutral-600;
          font-size: 1.2rem;
          font-weight: 500;
          color: $neutral-000;

          &:first-child {
            text-align: left;
          }

          &:last-child {
            text-align: left;
          }
        }
      }
    }

    tbody {
      text-align: left;

      tr {
        td {
          background: $neutral-700;
          padding: 1.6rem 2rem;
          font-size: 1.2rem;
          font-weight: 500;
          color: $neutral-400;

          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }

  .dropdown_wrapper {
    width: 20rem;
    max-width: 100%;
  }

  .icon {
    cursor: pointer;

    svg {
      font-size: 2.4rem;
      color: $primary-green;
    }
  }

  .progress_bar {
    height: 0.8rem;
    background: $neutral-600;
    border-radius: 0.4rem;
    position: relative;
    overflow: hidden;
    width: 10rem;
    
    .progress {
      height: 100%;
      background: $primary-green;
      border-radius: 0.4rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .btn_secondary {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    border-radius: 0.6rem;
    background: $primary-red;
    color: $neutral-000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: max-content;
  }
}
